.bg-orange{
    background-color: #fd7e14;
}
.bg-orange-10{
    background-color: #fd7e1419;
}
.bg-orange-20{
    background-color: #fd7e1432;
}
.bg-orange-30{
    background-color: #fd7e144B;
}
.bg-orange-40{
    background-color: #fd7e1464;
}
.bg-orange-50{
    background-color: #fd7e147D;
}
.bg-orange-60{
    background-color: #fd7e1496;
}
.bg-orange-70{
    background-color: #fd7e14AF;
}
.bg-orange-80{
    background-color: #fd7e14C8;
}
.bg-orange-90{
    background-color: #fd7e14E1;
}

.bg-purple{
    background-color: #6f42c1;
}
.bg-purple-10{
    background-color: #6f42c119;
}
.bg-purple-20{
    background-color: #6f42c132;
}
.bg-purple-30{
    background-color: #6f42c14B;
}
.bg-purple-40{
    background-color: #6f42c164;
}
.bg-purple-50{
    background-color: #6f42c17D;
}
.bg-purple-60{
    background-color: #6f42c196;
}
.bg-purple-70{
    background-color: #6f42c1AF;
}
.bg-purple-80{
    background-color: #6f42c1C8;
}
.bg-purple-90{
    background-color: #6f42c1E1;
}
